<h3 class="u-margin-bottom-small std-heading-3" style="font-size: 1.5rem;"> Categories </h3>
<div style="text-align: right;">
    <button class="std-button std-button--primary u-margin-bottom-small" routerLink="./new"> <img src="../../../../../assets/images/ico_add.png">&nbsp;&nbsp;New category </button>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-border">
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Menus </th>
                    <th scope="col"> items </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                  <td class="menu-clr" [routerLink]="'./'+category.id"> {{category.name}} </td>
                  <td style="text-transform: capitalize;">{{category.menus[0]?.name}},&nbsp;{{category.menus[1]?.name}}</td>
                  <td>Otto</td>
                  <td style="text-align: right;cursor:pointer;" ><img src="../../../../../assets/images/ico_overflow.png"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>