<h3 class="u-margin-bottom-small std-heading-3" style="font-size: 1.5rem;"> Categories </h3>
<div style="text-align: right;">
    <button class="std-button std-button--primary u-margin-bottom-small"> +&nbsp;&nbsp;New category </button>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-border">
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Menus </th>
                    <th scope="col"> items </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>