<h3 class="u-margin-bottom-small std-heading-3" style="font-size: 1.5rem;"> Categories </h3>
<div style="text-align: right;">
    <button class="std-button std-button--primary u-margin-bottom-small" routerLink="./new"> <img src="../../../../../assets/images/ico_add.png">&nbsp;&nbsp;New category </button>
</div>
<span style="color: red;" *ngIf="isLoading">loading...</span>
<div class="row" *ngIf="!isLoading">
    <div class="col-md-12">
        <table *ngIf="categories.length > 0; else noCategories" class="table table-border">
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Menus </th>
                    <th scope="col"> Items </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index">
                  <td style="text-transform: capitalize;" class="menu-clr std-heading-4 std-heading-4--primary" [routerLink]="'./'+category.id"> {{category.name}} </td>
                  <td style="text-transform: capitalize;">{{menuListToString(category.menus)}}</td>
                  <td>{{menuListToString(category.items)}}</td>
                    <td style="text-align: right;cursor:pointer;outline: none;">
                        <div class="dropdown">
                            <img src="../../../../../assets/images/ico_overflow.png"  class="dropdown-toggle" data-toggle="dropdown" title="Options">
                            <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                <li class="herf-class" [routerLink]="'./'+category.id" title="Edit">
                                    <img src="../../../../../assets/images/ico_edit.png">&nbsp;&nbsp;
                                  Edit
                                </li>
                                <li (click)="deleteIndex = i; modalService.open(deleteComform, { centered: true })" title="Delete" class="herf-class">
                                    <img src="../../../../../assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                    Delete
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noCategories>
            <h3 class="std-heading-4">No categories have been added yet.</h3>
        </ng-template>
    </div>
</div>

<ng-template #deleteComform let-modal3>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Delete category </h4>
      <p class="mb-2"> 
          Are you sure? 
      </p>
      <button class="std-button--plane" (click)="deleteCategory(); modal3.dismiss('Cross click')"> Continue </button>
      <hr>
      <button class="std-button--plane" (click)="modal3.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>