<div class="row">
    <div class="col-md-12">    
        <div class="float-right" style="margin-bottom:52px;">
           <button class="btn std-button std-button--primary" routerLink="./edit"> <img src="../../../../../assets/images/ico_edit_white.png"> Edit store profile </button>
        </div>
    </div>
    <div class="col-md-12">
        <h4 class="std-heading-4" style="margin-bottom:32px;"> Store details </h4>
        <h5 class="std-heading-5" style="margin-bottom:16px;" > Photo </h5>
        <div class="upload-image upload-image-border">
            <img class="ud-image" src="../../../../../assets/images/bck.jpg">
        </div>
    </div>
    <div class="col-md-12">
        <h5 class="std-heading-5" style="margin-bottom:16px;margin-top:32px;" > Store name </h5>
        <p class="paragraph"> fizz restaurent </p>
    </div>
    <div class="col-md-12">
        <h5 class="std-heading-5" style="margin-bottom:16px;margin-top:32px;" > Store address </h5>
        <p class="paragraph"> 10th main australia </p>
    </div> 
    <div class="col-md-12">
        <h5 class="std-heading-5" style="margin-bottom:16px;margin-top:32px;" > Type of cuisine </h5>
        <p class="paragraph"> wine </p>
    </div>
    <div class="col-md-12">
        <h5 class="std-heading-5" style="margin-bottom:16px;margin-top:32px;" > Description </h5>
        <p class="paragraph"> Done well  </p>
    </div> 
    <div class="col-md-12">
        <h5 class="std-heading-5" style="margin-bottom:16px;margin-top:32px;" > Google business URL </h5>
        <p class="paragraph"> google.com  </p>
    </div>
    <div class="col-md-12">
        <h5 class="std-heading-5" style="margin-bottom:16px;margin-top:32px;" > Facebook URL </h5>
        <p class="paragraph"> facebook.com  </p>
    </div>
    <div class="col-md-12">
        <button class="btn std-button std-button--redtransparency" style="margin-bottom:16px;margin-top:32px;" > <img src="../../../../../assets/images/ico_delete_red.png"> Delete store </button>
    </div>   
</div>