<br><br>
    <form [formGroup]="bankForm" (ngSubmit)="bankdetailForm()" >
    <h1 class="form-header pb-5"> 
        Add a bank account to receive payments
    </h1>
    <p> You may complete this step now or press <b>save and continue </b> to complete later  </p>
    <div class="form-group">
        <label class="label-inputs"> Bank <b class="m-star">*</b></label>
        <input type="text" class="form-control form-input" formControlName="bankName" [ngClass]="{ 'is-invalid': bankNameSubmit && f.bankName.errors }">
        <div *ngIf="bankNameSubmit && f.bankName.errors" class="error-mez">
            <div *ngIf="f.bankName.errors.required"> Please enter bank name </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label-inputs"> Account name <b class="m-star">*</b></label>
        <input type="text" class="form-control form-input" formControlName="accountName" [ngClass]="{ 'is-invalid': accountNameSubmit && f.accountName.errors }" >
        <div *ngIf="accountNameSubmit && f.accountName.errors" class="error-mez">
            <div *ngIf="f.accountName.errors.required"> Please enter account name </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-inputs"> BSB number <b class="m-star">*</b></label>
                <input type="text" class="form-control form-input" formControlName="BSBnumber" [ngClass]="{ 'is-invalid': BSBnumberSubmit && f.BSBnumber.errors }">
                <div *ngIf="BSBnumberSubmit && f.BSBnumber.errors" class="error-mez">
                    <div *ngIf="f.BSBnumber.errors.required"> Please enter BSB number </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-inputs"> Account number <b class="m-star">*</b></label>
                <input type="text" class="form-control form-input" formControlName="accountNumber" [ngClass]="{ 'is-invalid': accountNumberSubmit && f.accountNumber.errors }" >
                <div *ngIf="accountNumberSubmit && f.accountNumber.errors" class="error-mez">
                    <div *ngIf="f.accountNumber.errors.required"> Please enter account number </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox" style="cursor: pointer;">
            <label style="margin-bottom:0;">
                <input type="checkbox" formControlName="checkbankdetails" [ngClass]="{ 'is-invalid': checkbankdetailsSubmit && f.checkbankdetails.errors }">
                I Understand and agree to the <a href=""> MenuzApp terms </a>
            </label>
        </div>
        <div *ngIf="checkbankdetailsSubmit && f.checkbankdetails.errors" class="error-mez">
            <div *ngIf="f.checkbankdetails.errors.required"> Please accept our terms of use before proceeding.</div>
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="btn re-send" value="Back" (click)="backOwnership()">
        <input type="submit" class="btn btn-custom-login" value="Save and continue" style="margin-left:10px;">
    </div>
</form>
   