.form-header {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
  }
  .re-send {
    color:#353FA8;
    background: #FAFAFA;
    font-weight:600;
    border-radius: 0;
  }
  .btn-custom-login {
    color:#fff;
    background: #353FA8;
    border-radius: 0;
  }
  .upload-file-btn {
    color:#353FA8;
    background: #FAFAFA;
    font-weight:600;
    border-radius: 0;
    border: 2px solid #F2F2F2;
  }