.login-header {
    text-align: center;
    color:#000;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.default-text {
    color:#353FA8;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.signin-card {
    margin: 0 auto 25px;     
    max-width: 312px;
    padding-top: 100px;
}
input.custom-password-eye {
    padding-right:30px;
}
.field-icon {
  position: absolute;
  cursor: pointer;
  top:15px;
  right:25px;
  z-index: 1;
  color:#B3B3B3;
}
