<h3 class="u-margin-bottom-small std-heading-3"> Members <img src="../../../../../assets/images/ico_help.png"
    style="cursor:pointer" title="info" (click)="modalService.open(content, { centered: true });"></h3>
<div class="row">
    <div class="col-md-3 mb-1">
        <input type="search" placeholder="Search" class="form-control form-input search" />
    </div>
    <div class="col-md-3 mb-1 pd-mq">
        <select class="custom-select form-control form-input form-input--select-input">
            <option> All </option>
        </select>
    </div>
    <div class="col-md-6">
        <div style="text-align: right;">
            <button class="btn std-button std-button--primary" (click)="modalService.open(invite, { centered: true });"> <img src="../../../../../assets/images/ico_add.png">&nbsp;&nbsp;Invite </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-color" style="margin-top:24px;">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Email </th>
                        <th> Role </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-name"> 
                            <div class="custom-profile-image">
                                <span>
                                    <img src="../../../../../assets/images/Frame 98.png" class="profile-image" />
                                    <!-- <label *ngIf="!user.staticDpImg" class="profile-name-navbar uppercase" > {{ userProfilename ? (userProfilename | slice:0:1) : ''}} </label> -->
                                    <span style="line-height: 40px;">&nbsp; Name </span>
                                </span>
                                <!-- <div class="custom-profile-image-text uppercase" *ngIf="!stories.staticDpImg">{{stories?.createrFirstName | slice:0:1}}{{stories?.createrLastName | slice:0:1}}</div> -->
                            </div>
                        </td>
                        <td style="line-height: 40px;">
                            Email
                        </td>
                        <td style="line-height: 40px;"> Role </td>
                        <td style="text-align: right;outline: none;" style="line-height: 40px;">
                            <div class="dropdown">
                                <img src="../../../../../assets/images/ico_overflow.png" class="dropdown-toggle"
                                    data-toggle="dropdown" title="options" style="cursor:pointer;">
                                <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                    <li class="herf-class" title="Edit">
                                        <img src="../../../../../assets/images/ico_edit.png">&nbsp;&nbsp;
                                        Edit
                                    </li>
                                    <li title="Delete" class="herf-class">
                                        <img src="../../../../../assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                        Delete
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Info modal -->
<ng-template #invite let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-4 std-heading-5--popheader"> Invite </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="../../../../../assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label class="label-inputs"> Email </label>
                <input type="text" class="form-control form-input" placeholder="Invite someone by email" >
            </div>
            <div class="col-md-6">
                <label class="label-inputs" style="margin-top:32px"> Role </label>
                <select class="custom-select form-control form-input form-input--select-input" >
                    <option > View only </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="float-right" style="margin-bottom:16px;margin-top:32px;">
                    <button class="btn std-button std-button--transparency" > Cancel </button>
                    <button class="btn std-button std-button--primary" style="margin-left:10px;" > 
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Info modal end-->
<!-- Info modal -->
<ng-template #content let-modal>
    <div class="modal-header header-info">
        <div class="std-heading-4 std-heading-5--popheader"> Members </div>
        <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><img src="../../../../../assets/images/x.png"></span>
        </button>
    </div>
    <div class="modal-body">
        <p class="paragraph">
            Invite members to fulfill various <b>roles</b> in your business.
        </p>
        <div class="std-heading-5">
            Owner
        </div>
        <p class="paragraph">
            Full access.
        </p>
        <div class="std-heading-5">
            Editor
        </div>
        <p class="paragraph">
            Full access to menus and specials for specified stores.
        </p>
        <div class="std-heading-5">
            View only
        </div>
        <p class="paragraph">
            No edit access.
        </p>
    </div>
</ng-template>
<!-- Info modal end-->