<div class="row">
    <div class="col-12">
        <h2 class="std-heading-2 mb-3" style="font-weight: 600;"> Stores </h2>
        <h4 class="std-heading-4 mb-2"> Owned </h4>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xs-12">
                <div class="well main-form draft-card-pending">
                    <div class="img-container-draft">
                        <img src="../../../../assets/images/bck.jpg">
                    </div>
                    <div class="form-padding">
                        <h4>
                            <span class="story-header" style="word-break: break-all;"> Lime shop </span>
                        </h4>
                        <div class="mb-1">
                            <span class="google-rating">
                                4.5 Google (4.5)
                            </span>
                            <span class="google-rating google-rating--pad">
                                4.5 Google (4.5)
                            </span>
                        </div>
                        <span class="google-rating google-rating--pending-color">
                            Pending approval
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
