<!-- create category -->
<span style="color: red;" *ngIf="isLoading">loading...</span>
<div class="row" [formGroup]="createCatForm">
    <div class="col-md-12">
        <div class="float-right">
            <button class="btn std-button--transparency" [disabled]="!categoryId" (click)="openVerticallyCentered(deleteComform)"> Delete </button>
            <button class="btn std-button--blue" style="margin-left:10px" (click)="saveData()"><img src="../../../../../assets/images/tick.png"> {{ saveBtnLoading ? "Loading" : "Save" }} </button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="input-container">
            <img src="../../../../../assets/images/ico_back.png" class="input-img" (click)="(createCatForm.controls.categoryName.valid || createCatForm.controls.menus.valid) && createCatForm.touched ? pagebackPopup(back) : navigateBack()">
            <input type="text" class="input-border"  formControlName="categoryName" >
            <span style="color: red;" *ngIf="createCatForm.controls.categoryName.invalid && createCatForm.controls.categoryName.touched">Category name is required.</span>
        </div>  
    </div>
    <div class="col-md-12">
        <div class="row pt-5">
            <div class="col-md-12">
                <h3 class="std-heading-3 mb-3"> Menus <img src="../../../../../assets/images/ico_help.png" style="cursor:pointer" title="info" (click)="openVerticallyCentered(content)"></h3>
            </div>
        </div>
        <label style="font-weight: 600;"> Menus this category will appear in: </label>
        <div formArrayName="menus" class="menu-creator__days mb-3" (click)="createCatForm.controls.menus.markAsTouched({onlySelf: true});">
            <div class="custom-checkbox mr-2" *ngFor="let control of menusForm(); let i = index;">
                <input type="checkbox" [id]="i" [formControlName]="i">
                <label class="custom-checkbox__label std-heading-4" [for]="i">{{menuIdMap[i].name}}</label>
            </div>
            <span style="color: red;" *ngIf="createCatForm.controls.menus.invalid && createCatForm.controls.menus.touched">Altleast one menu should be selected</span>
        </div>
    </div>
</div>
<ng-container *ngIf="menuIdMap.length == 0">
    <div class="std-heading-4">You do not have any menus created</div>
</ng-container>
<!-- <button (click)="debug()">debug</button> -->
<!-- end create category -->

<!-- Info modal -->
<ng-template #content let-modal>
    <div class="modal-header header-info">
      <h4 class="std-heading-3"> Menus </h4>
      <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><img src="../../../../../assets/images/x.png"></span>
      </button>
    </div>
    <div class="modal-body">
      <p> Categories may appear in multiple menus. To arrange the order that categories appear in the app, 
        visit the <b>Overview</b> tab.
      </p>
    </div>
</ng-template>
<!-- Info modal end-->

<!-- back save continue -->
<ng-template #back let-modal2>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Unsaved changes </h4>
      <p class="mb-2"> 
          If you continue you will lose any unsaved progress
      </p>
      <button class="std-button--plane" (click)="navigateBack(); modal2.dismiss('Cross click')"> Continue </button>
      <hr>
      <button class="std-button--plane" (click)="modal2.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>
<!-- back save continue end-->

<ng-template #deleteComform let-modal3>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Unsaved changes </h4>
      <p class="mb-2"> 
          Are you sure? 
      </p>
      <button class="std-button--plane" (click)="deleteData(); modal3.dismiss('Cross click')"> Continue </button>
      <hr>
      <button class="std-button--plane" (click)="modal3.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>