<div id="wrapper">
   
   <div class="sidebar-heading sm-block" style="outline: none;cursor: pointer;height:56px;" title="Dashboard"><img class="mt-1" style="widows: 169px;height:32px;" src="../../../assets/svg/Logo.svg"> <span style="float:right" id="showMenu"><img src="../../../assets/images/ico_menu.png"></span></div>

   <div class="sidebar sidebar-div" id="sidebar-wrapper" >
        <div class="sidebar-heading" [routerLink]="['/dasboard']" style="outline: none;cursor: pointer;height:56px;" title="Dashboard"><img class="mt-1" style="widows: 169px;height:32px;" src="../../../assets/svg/Logo.svg"></div>
        <app-side-nav-bar></app-side-nav-bar>
   </div>

      <!---------------- mobile response ----------------->
         <div class="right-side-popup response-sidebar"  [hidden]="showVar" >
            <div class="mobile-response">
               <app-side-nav-bar></app-side-nav-bar>
            </div>
         </div> 
      <!---------------- mobile response end ----------------->


   <div class="main-panel">
      <div class="container-fluid">
         <router-outlet></router-outlet>
      </div>
   </div> 

</div> 

