<div class="row" >
    <div class="col-md-12">
        <h3 class="std-heading-3"> Ownership <img src="../../../../../assets/images/ico_help.png" style="cursor:pointer;" title="info" ></h3>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Legal owner name </div>
        <p class="paragraph"> basu </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Legal business name </div>
        <p class="paragraph"> restaurent business </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> ABN or ACN (Australian Business or Company Number ) </div>
        <p class="paragraph"> 123456 </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Certificate of registration </div>
        <p class="paragraph"> file.pdf </p>
    </div>
</div>
