<ul class="resnt-menu-top-tabs u-margin-bottom-medium">
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button std-heading-4" routerLink="./overview"
            routerLinkActive="resnt-menu-top-tabs__button__active">Overview</button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button std-heading-4" routerLink="./menus"
            routerLinkActive="resnt-menu-top-tabs__button__active">Menu</button></li>
    <li class="resnt-menu-top-tabs__item"><button class="resnt-menu-top-tabs__button std-heading-4">Categories</button>
    </li>
    <li class="resnt-menu-top-tabs__item"><button class="resnt-menu-top-tabs__button std-heading-4">Items</button> </li>
    <li class="resnt-menu-top-tabs__item"><button class="resnt-menu-top-tabs__button std-heading-4">Modifier
            Groups</button> </li>
</ul>
<section class="resnt-menu-tabs-content">
    <router-outlet></router-outlet>
</section>