<p *ngIf="!isActive">Pending approval</p>

<ul class="resnt-menu-top-tabs u-margin-bottom-medium">
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button std-heading-4" routerLink="./overview"
            routerLinkActive="resnt-menu-top-tabs__button__active">Overview</button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button std-heading-4" routerLink="./menus"
            routerLinkActive="resnt-menu-top-tabs__button__active">Menus</button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button std-heading-4" routerLink="./categories" 
        routerLinkActive="resnt-menu-top-tabs__button__active">
            Categories
        </button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button std-heading-4" routerLink="./items" 
        routerLinkActive="resnt-menu-top-tabs__button__active">
        Items
        </button>
     </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button std-heading-4" routerLink="./modifier-groups" 
        routerLinkActive="resnt-menu-top-tabs__button__active">
        Modifier
            Groups
        </button>
     </li>
</ul>
<section class="resnt-menu-tabs-content">
    <router-outlet></router-outlet>
</section>