<div [formGroup]="createItemForm">
<span style="color: red;" *ngIf="isLoading">loading...</span>
<div class="row">
    <div class="col-md-12">
        <div class="float-right">
            <button class="btn std-button--transparency" [disabled]="!itemId" (click)="openVerticallyCentered(deleteComform)"> Delete </button>
            <button class="btn std-button--transparency" style="margin-left:10px;" > Duplicate </button>
            <button class="btn std-button--blue" style="margin-left:10px;"  (click)="saveData()"><img src="../../../../../assets/images/tick.png">&nbsp; {{ saveBtnLoading ? "Loading" : "Save" }} </button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="input-container">
            <img src="../../../../../assets/images/ico_back.png" class="input-img" (click)="(createItemForm.controls.itemName || createItemForm.controls.category) && createItemForm.touched ? pagebackPopup(back) : navigateBack()">
            <input type="text" class="input-border" formControlName="itemName">
            <span style="color: red;" *ngIf="createItemForm.controls.itemName.invalid && createItemForm.controls.itemName.touched">Item name is required.</span>
        </div>  
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <h4 class="std-heading-3"> Item details </h4>
        <label class="std-heading-4 mt-4"> Photo </label>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row">
                    <!-- <div class="upload-image" (click)="fileInput.click()">
                        <div>
                            <img *ngIf="uploadedImagePath" style="width:190px;height:184px" src="{{uploadedImagePath}}">
                            <img *ngIf="!uploadedImagePath" src="../../../../../assets/images/ico_add_blue.png"> <span *ngIf="!uploadedImagePath" class="upload-text"> Upload an image</span>
                        </div>
                    </div> -->
                    <div class="upload-image" (click)="imageUrl? '' : fileInput.click()" >
                        <img [src]="imageUrl ? imageUrl : 'assets/images/ico_add_blue.png'">     
                    </div>
                    <div class="response-padding" style="margin-left:20px;">
                        <span style="font-size:14px"> JPG, PNG or GIF up to 5mb.<br> Minimum size 500&times;500 pixels. </span>
                        <div class="mt-2">
                            <button class="btn std-button--blue" (click)="fileInput.click()" > Browse </button> 
                            <button class="btn std-button--transparency" style="margin-left:10px;" *ngIf="imageUrl"  (click)="imageUrl = null"> Remove </button>
                            <input style="display: none" id="file" type="file" (change)="onFileChanged($event)" #fileInput accept=".jpg,.jpeg,.png,.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group mb-2">
                    <label class="std-heading-4 "> Description </label>
                    <textarea class="form-control form-input" formControlName="itemDescription" placeholder="Enter description" ></textarea>
                </div>
                <div class="form-group mb-2">
                    <label class="std-heading-4"> Keywords </label>
                    <textarea class="form-control form-input" formControlName="itemKeyword" placeholder="Enter search keywords separated by comma e. g. italian, pasta" ></textarea>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <div class="form-group mb-2">
                    <label class="std-heading-4"> Base price </label>
                    <input class="form-control form-input" formControlName="itemBasePrice" placeholder="$09.11" >
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="std-heading-4"> Is item in stock </label>
                <div class="menu-creator__days">
                    <div class="custom-radio">
                        <input type="radio" id="yes" name="itemStock" formControlName="itemStock"  value="1" checked>
                        <label class="custom-radio__label std-heading-4" for="yes">Yes</label>
                    </div>
                    <div class="custom-radio pd-left">
                        <input type="radio" id="no" name="itemStock" formControlName="itemStock" value="0" >
                        <label class="custom-radio__label std-heading-4" for="no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-3">
            <div class="col-md-6">
                <label class="std-heading-4"> Sell item on it's own? <img src="../../../../../assets/images/ico_help.png" style="cursor:pointer;width:14px;height:14px;" title="info" (click)="openVerticallyCentered(content)"> </label>
                <div class="menu-creator__days">
                    <div class="custom-radio" >
                        <input type="radio" id="sellYes" name="sellitem" formControlName="sellitem" value="1" checked>
                        <label class="custom-radio__label std-heading-4" for="sellYes">Yes</label>
                    </div>
                    <div class="custom-radio pd-left">
                        <input type="radio" id="sellNo" name="sellitem" formControlName="sellitem" value="0" >
                        <label class="custom-radio__label std-heading-4" for="sellNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <h4 class="std-heading-3 mb-2"> Categories <img src="../../../../../assets/images/ico_help.png" style="cursor:pointer;" title="info" (click)="opencategoryCentered(category)"></h4>
                <p class="mb-2"> Items may appear in one or more categories. </p>
                <label class="std-heading-4"> This item will be appear in: </label>
                <div  formArrayName="categories" class="menu-creator__days"  (click)="createItemForm.controls.categories.markAsTouched({onlySelf: true});">
                    <div class="custom-checkbox" *ngFor="let control of categoryForm(); let i = index;">
                        <input type="checkbox" id="category_id_{{i}}" name="category_id_{{i}}" [formControlName]="i">
                        <label class="custom-checkbox__label std-heading-4" for="category_id_{{i}}">{{categoryIdMap[i].name}}</label>
                    </div>
                </div>
                <div *ngIf="modifierIdMap?.length==0">No categories found.</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <h4 class="std-heading-3 mb-2"> Modifier groups <img src="../../../../../assets/images/ico_help.png" style="cursor:pointer;" title="info" (click)="openmodifierCentered(modifier)"></h4>
                <p class="mb-2"> Modifiers allow you to add sides, sizes and more to your menu items. </p>
                <label class="std-heading-4"> This item will be available with:</label>
               <div  formArrayName="modifier" class="menu-creator__days"  (click)="createItemForm.controls.modifier.markAsTouched({onlySelf: true});">
                    <div class="custom-checkbox pd-left" *ngFor="let control of modifierForm(); let i = index;">
                        <input type="checkbox" id="modifer_id_{{i}}"  name="modifier_id_{{i}}" [formControlName]="i">
                        <label class="custom-checkbox__label std-heading-4" for="modifer_id_{{i}}">{{modifierIdMap[i].name}}</label>
                    </div>
                </div>
               <div *ngIf="modifierIdMap?.length==0">No modifier found.</div>
            </div>
        </div>
    </div>
</div>

</div>






<!-- Info modal -->
<ng-template #content let-modal>
    <div class="modal-header header-info">
      <h4 class="std-heading-4" style="margin:5px;"> Sell item on it's own? </h4>
      <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><img src="../../../../../assets/images/x.png"></span>
      </button>
    </div>
    <div class="modal-body">
      <p> 
          Select 'Yes' to allow customers to purchase this item from the menu.
      </p>
      <p> 
          If this item is a modifier, such as a <b>side, size</b> or <b> sauce </b>for example, you may select 'No' to exclude it from individual sale. 
      </p>
    </div>
</ng-template>
<!-- Info modal end-->

<!-- Info modal -->
<ng-template #category let-modal>
    <div class="modal-header header-info">
      <h4 class="std-heading-4" style="margin:5px;"> Categories  </h4>
      <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><img src="../../../../../assets/images/x.png"></span>
      </button>
    </div>
    <div class="modal-body">
      <p> 
          Items may appear in any number of categories or none at all.
      </p>
      <p> 
          Categories will only appear in the menu when they contain at least one item marked to <b>sell on it's own</b>.
      </p>
    </div>
</ng-template>
<!-- Info modal end-->

<!-- Info modal -->
<ng-template #modifier let-modal>
    <div class="modal-header header-info">
      <h4 class="std-heading-4" style="margin:5px;"> Modifier groups </h4>
      <button type="button" class="close info-q" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><img src="../../../../../assets/images/x.png"></span>
      </button>
    </div>
    <div class="modal-body">
      <p> 
          If you have created a modifier group, such as a <b>side, size</b> or <b>Sauce</b>, you may select it here to link this item. Customers will be presented with the modifier options at purchase.
      </p>
    </div>
</ng-template>
<!-- Info modal end-->

<!-- back save continue -->
<ng-template #back let-modal2>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Unsaved changes </h4>
      <p class="mb-2"> 
          If you continue you will lose any unsaved progress
      </p>
      <button class="std-button--plane" (click)="navigateBack(); modal2.dismiss('Cross click')"> Continue </button>
      <hr>
      <button class="std-button--plane" (click)="modal2.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>
<!-- back save continue end-->

<ng-template #deleteComform let-modal3>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Unsaved changes </h4>
      <p class="mb-2"> 
          Are you sure? 
      </p>
      <button class="std-button--plane" (click)="deleteData(); modal3.dismiss('Cross click')"> Continue </button>
      <hr>
      <button class="std-button--plane" (click)="modal3.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>
