<div class="container h-100 m-class">
<form [formGroup]="storeDetailform" (ngSubmit)="storeDetails()" >
    <h1 class="form-header pb-4"> 
        Tell us a little about your store 
    </h1>
    <div class="form-group">
        <label class="label-inputs"> Store name <b class="m-star">*</b> </label>
        <input type="text" class="form-control form-input" placeholder="e.g. Mikes's Burgers" formControlName="storeName" [ngClass]="{ 'is-invalid': storeNameSubmit && f.storeName.errors }" >
        <div *ngIf="storeNameSubmit && f.storeName.errors" class="error-mez">
            <div *ngIf="f.storeName.errors.required"> Please enter store name </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label-inputs"> Store address <b class="m-star">*</b> </label>
        <!-- <input type="text" class="form-control form-input" placeholder="e.g. 100 Main street, Sampletown, Qld 4000" formControlName="storeAddress" #storeAddress [ngClass]="{ 'is-invalid': storeAddressSubmit && f.storeAddress.errors }" >
        <ngx-google-places-autocomplete formControlName="place"></ngx-google-places-autocomplete>
        <div *ngIf="storeAddressSubmit && f.storeAddress.errors" class="error-mez">
            <div *ngIf="f.storeAddress.errors.required"> Please enter store address </div>
        </div> -->
        <input ngx-google-places-autocomplete [options]= 
        'options'  (onAddressChange)="AddressChange($event)" class="form-control form-input" formControlName="storeAddress" [ngClass]="{ 'is-invalid': storeAddressSubmit && f.storeAddress.errors }"/> 
        <div *ngIf="storeAddressSubmit && f.storeAddress.errors" class="error-mez">
            <div *ngIf="f.storeAddress.errors.required"> Please enter store address </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label-inputs"> Type of cuisine <b class="m-star">*</b> </label>
        <select formControlName="typeCuisine" class="form-control form-input" (ngModelChange)="changeCuisine()" [ngClass]="{ 'is-invalid': typeCuisineSubmit && f.typeCuisine.errors }">
            <option [ngValue]="null" selected> Select </option>
            <option *ngFor="let cuisine of Cuisines" [ngValue]="cuisine"> {{ cuisine }} </option>
        </select>
        <div *ngIf="typeCuisineSubmit && f.typeCuisine.errors" class="error-mez">
            <div *ngIf="f.typeCuisine.errors.required"> Please select type of cuisine </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label-inputs"> Description <b class="m-star">*</b> </label>
        <textarea class="form-control form-input" placeholder="Description" formControlName="descriptionItem" [ngClass]="{ 'is-invalid': descriptionItemSubmit && f.descriptionItem.errors }" ></textarea>
        <div *ngIf="descriptionItemSubmit && f.descriptionItem.errors" class="error-mez">
            <div *ngIf="f.descriptionItem.errors.required"> Please enter description </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label-inputs"> Google business URL <b class="m-star"></b> </label>
        <input type="text" class="form-control form-input" placeholder="e.g. goo.gl/map/xxxxxxxx" formControlName="google_business_url" [ngClass]="{ 'is-invalid': googleBussinessSubmit && f.google_business_url.errors }" >
        <div *ngIf="googleBussinessSubmit && f.google_business_url.errors" class="error-mez">
            <div *ngIf="f.google_business_url.errors.required"> Please enter Google business URL </div>
        </div>
    </div>
    <div class="form-group pb-1">
        <label class="label-inputs"> Facebook URL <b class="m-star"></b> </label>
        <input type="text" class="form-control form-input" placeholder="e.g. http://www.facebook.com/xxxxxxxx" formControlName="facebook_url" [ngClass]="{ 'is-invalid': facebookBussinessSubmit && f.facebook_url.errors }" >
        <div *ngIf="facebookBussinessSubmit && f.facebook_url.errors" class="error-mez">
            <div *ngIf="f.facebook_url.errors.required"> Please enter Facebook URL </div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="label-inputs"> Opening hours <b class="m-star">*</b> </label>
        <input type="text" class="form-control form-input" placeholder="e.g. Buzz" >
    </div> -->
    <div class="form-group pb-1">
        <label class="label-inputs"> Store logo or photo </label>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row">
                    <div class="upload-image" (click)="imageUrl? '' : fileInput.click()" >
                        <img [src]="imageUrl ? imageUrl : 'assets/images/ico_add_blue.png'">     
                    </div>
                    <div class="response-padding" style="margin-left:20px;">
                        <span style="font-size:12px">JPG, PNG or GIF up to 5mb.<br> Minimum size 500&times;500 pixels. </span>
                        <div class="mt-2">
                            <button class="btn std-button--blue" type="button" (click)="fileInput.click()" > Browse </button> 
                            <button class="btn std-button--transparency"  type="button" style="margin-left:10px;" *ngIf="imageUrl"  (click)="imageUrl = null"> Remove </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a [routerLink]="['/store/first-form']"> <input type="button" class="btn re-send" value="Cancel" ></a>
        <input type="submit" class="btn btn-custom-login" value="{{add_edit_type == 'add' ? 'Save and Continue' : 'Edit a store'}}" style="margin-left:10px;">
    </div>
</form>
<input style="display: none" id="file" type="file" (change)="onFileChanged($event)" #fileInput accept=".jpg,.png,.jpeg,.gif">
</div>