
.form-header {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
  }
  .re-send {
    color:#353FA8;
    background: #FAFAFA;
    font-weight:600;
    border-radius: 0;
  }
  .btn-custom-login {
    color:#fff;
    background: #353FA8;
    border-radius: 0;
  }
  .upload-file-btn {
    color:#353FA8;
    background: #FAFAFA;
    font-weight:600;
    border-radius: 0;
    border: 2px solid #F2F2F2;
  }
  .upload-image {
      border: 2px dashed #B3B3B3;  
      background: #FAFAFA;
      color: #353FA8;
      width:200px;
      height:200px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  .upload-image img {
    max-width:200px;
    max-height:200px;
  }
  img {
  image-orientation: 90deg; /* Rotate 90deg */
  image-orientation: 90deg flip; /* Rotate 90deg, and flip it horizontally */ 
  image-orientation: flip; 
  }