<div class="row" *ngIf="storeBankDetail">
    <div class="col-md-12">
        <h3 class="std-heading-3"> Bank details </h3>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Bank </div>
        <p class="paragraph"> {{storeBankDetail.name}} </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Account Name </div>
        <p class="paragraph"> {{storeBankDetail.accountName}} </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> BSB Number </div>
        <p class="paragraph"> {{storeBankDetail.bsbNumber}} </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Account Number </div>
        <p class="paragraph"> {{storeBankDetail.accountNumber}} </p>
    </div>
</div>


