<div class="row"> 
    <div class="col-md-12">
        <div class="float-right" style="margin-bottom:16px;">
            <button class="btn std-button std-button--redtransparency" > Deny </button>
            <button class="btn std-button std-button--green" style="margin-left:10px;" > Approved </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4 class="std-heading-4 mr-t56-b32"> Proof of ownership </h4>
        <div class="std-heading-5" style="margin-bottom:16px;"> Legal owner name </div>
        <p class="paragraph"> Owner name </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Legal business name </div>
        <p class="paragraph"> Business name </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> ABN or ACN (Australian Business or Company Number ) </div>
        <p class="paragraph"> 123456 </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Email </div>
        <a href=""> email@email.com </a>
    </div>
</div>