.forgot-pwd {
    margin: 0 auto 25px;     
    max-width: 430px;
}
.forgot-header {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}