.custom-table {
    border:1px solid #f2f2f2;

    &tr {
        border:1px solid #f2f2f2;
    }
    &td {
        border-top: none !important;
    }
}
.inside-table {
    width: 100%;
    background: var(--color-background);
}
.tdsingle-row {
    background: var(--color-background-secondary);
    padding:32px;
}
.dropdown-content {
    position: absolute;
    top:0;
    right:0;
    border:1px solid #ccc;
    z-index: 1;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
}
.dropdown-content ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 16px;
}
.td-class .main-div {
    position:relative;
}
.td-class .main-div .sub-div {
    position: absolute; 
    right:0;
    background:#fe9200;
    top:42px;
    z-index: 1;
}