<div class="row" >
    <div class="col-md-12">
        <h3 class="std-heading-3"> Bank details <img src="../../../../../assets/images/ico_help.png" style="cursor:pointer;" title="info" ></h3>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Bank </div>
        <p class="paragraph"> BOI </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Account name </div>
        <p class="paragraph"> Basu </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> BSB number </div>
        <p class="paragraph"> 123456 </p>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5" style="margin-bottom:16px;margin-top:44px"> Account number </div>
        <p class="paragraph"> 123456 </p>
    </div>
</div>


