
.btn-custom {
    background: #353FA8;
    color:#fff;
    border-radius: 0 !important;
    width: 100%;
  }
  input.custom-password-eye {
    padding-right:30px;
}
.field-icon {
  position: absolute;
  cursor: pointer;
  top:35px;
  right:25px;
  z-index: 1;
  color:#B3B3B3;
}
