<nav style="position: fixed;top:0;left:0;right:0;z-index: 1;">
    <div class="navbar btn-pd justify-content-between">
        <a class="navbar-brand" style="font-size:24px;"><img src="../../../assets/images/Vector.png"> menuzapp </a>
        <div class="btn-names">
            <a style="text-decoration: none;color:#fff" [routerLink]="['/login']" title="login" >Already have an account? Login </a>
        </div>
    </div>
</nav>
<div class="container h-100">
    <div class="row m-class">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <h2 class="sign-header"> Become a menuzapp restaurant partner </h2>
        </div>
    </div>
    <div class="row m-class mt-5 mb-2">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <form [formGroup]="signupMenuzappform" (ngSubmit)="menuzappSignup()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-inputs"> First name <b class="m-star">*</b> </label>
                            <input type="text" class="form-control form-input" placeholder="e.g. Rhiannon" formControlName="fname" [ngClass]="{ 'is-invalid': fnameSubmit && f.fname.errors }">
                            <div *ngIf="fnameSubmit && f.fname.errors" class="error-mez">
                                <div *ngIf="f.fname.errors.required"> First name field is required </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-inputs"> Last name <b class="m-star">*</b> </label>
                            <input type="text" class="form-control form-input" placeholder="e.g. Sara" formControlName="lname" [ngClass]="{ 'is-invalid': lnameSubmit && f.lname.errors }">
                            <div *ngIf="lnameSubmit && f.lname.errors" class="error-mez">
                                <div *ngIf="f.lname.errors.required"> Last name field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-inputs"> Email <b class="m-star">*</b> </label>
                            <input type="email" class="form-control form-input" placeholder="e.g. name@domain.com" formControlName="signupemail" [ngClass]="{ 'is-invalid': emailSubmit && f.signupemail.errors }">
                            <div *ngIf="emailSubmit && f.signupemail.errors" class="error-mez">
                                <div *ngIf="f.signupemail.errors.required">Email field is required </div>
                                <div *ngIf="f.signupemail.errors.email"> Please enter a valid email address </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-inputs"> Mobile <b class="m-star">*</b> </label>
                            <input class="form-control form-input" placeholder="e.g. 0412345678" formControlName="signupmobile" [ngClass]="{ 'is-invalid': mobileSubmit && f.signupmobile.errors }" minlength="10" maxlength="10" (keypress)="keyPress($event)" >
                            <div *ngIf="mobileSubmit && f.signupmobile.errors" class="error-mez">
                                <div *ngIf="f.signupmobile.errors.required"> Mobile field is required </div>
                                <div *ngIf="f.signupmobile.errors.pattern"> Please enter a valid mobile number</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-inputs"> Password <b class="m-star">*</b> </label>
                            <input type="password" id="password" class="form-control form-input custom-password-eye"  formControlName="password" placeholder="Must be at least 8 characters" [ngClass]="{ 'is-invalid': passwordSubmit && f.password.errors }">
                            <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span>
                            <div *ngIf="passwordSubmit && f.password.errors" class="error-mez">
                                <div *ngIf="f.password.errors.required"> Password field is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-inputs"> Confirm password <b class="m-star">*</b> </label>
                            <input type="password" formControlName="confirmPassword" id="password1" class="form-control form-input custom-password-eye" [ngClass]="{ 'is-invalid': passwordSubmit && f.confirmPassword.errors }" placeholder="Confirm Password">
                            <span toggle="#password1" class="fa fa-eye-slash field-icon toggle-password"></span>
                            <div *ngIf="passwordSubmit && f.confirmPassword.errors" class="error-mez">
                              <div *ngIf="f.confirmPassword.errors.required">Confirm password field is required</div>
                              <div *ngIf="f.confirmPassword.errors.mustMatch">Password must match</div>
                            </div>
                          </div>
                    </div>
                </div>
                <small class="mt-5" style="color: #1A1A1A;">
                    By clicking 'Sign up', you agree to menuzapp <a [routerLink]="['/page-under-progress']" title="Terms and Conditions"> General Terms and Conditions </a> and acknowledge you have read the <a [routerLink]="['/page-under-progress']" title="Private Policy"> Private Policy.</a>
                </small>
                <div class="row mt-3 mb-2">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="submit" class="btn btn-custom" value="Sign up" >
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9 mt-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0l9Agm9qRPs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<br><br>