:root{
    --color-primary: #353FA8;
    --color-background: white;
    --color-background-secondary : #F2F2F2;
   
    --color-typography-primary: rgb(54, 54, 54);
    --color-typography-secondary: #6b6b6b;
    --color-typography-tertiary: #dfdfdf;
    
    --color-lines-primary : #dddddd;
    
    --color-success : #72CC00;
    --color-success-light : #E2FFBC;
}

$color-typography-primary : var(--color-typography-primary);
$color-lines-primary : var(--color-lines-primary);