.std-button {
    border-radius: 0;
    padding: 0.50rem;
    border: none;
    outline: none !important;
    &--primary {
        color: var(--color-background);
        background: var(--color-primary);
    }
    &--transparency {
        color:#353FA8;
        background: #FAFAFA;
        font-weight:600;
        border-radius: 0;
    }
    &--transparency:hover {
        color:#353FA8;
    }
    &--blue {
        color:#fff;
        background: #353FA8;
        border-radius: 0;
    }
    &--blue:hover {
        color:#fff;
    }
    &--plane{
        color:#353FA8;
        background: #fff;
        border: 0 !important;
        outline: none !important;
        font-weight: 600;
    }
}

.table-border > thead > tr > th,
.table-border > tbody > tr > td {
    border-bottom: 1px solid #dddddd;
    border-top: 0px;
}

.menu-clr {
    color:#353FA8;
    outline: 0;
    cursor: pointer;
}

.custom-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 3.5rem;
    display: inline-block;

    & input {
        display: none;
    }

    & .custom-checkbox__label {
        top: 0;
        left: 0;
        padding-left: 2.5rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-right: 0.75rem;
    }

    input:checked ~ .custom-checkbox__label {
        background-color: var(--color-success-light);
    }

    &__label::before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 1rem;
        width: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.2rem;
    }

    & input:checked ~ .custom-checkbox__label::before {
        background-color: var(--color-success);
    }

    & input:checked ~ .custom-checkbox__label::after {
        content: "";
        position: absolute;
        left: 1.30rem;
        top: 1.20rem;
        width: .375rem;
        height: 0.56rem;
        border: solid white;
        border-width: 0 0.18rem 0.18rem 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}
 
.custom-radio {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 3.5rem;
    display: inline-block;

    & input {
        display: none;
    }

    & .custom-radio__label {
        top: 0;
        left: 0;
        padding-left: 2.5rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-right: 0.75rem;
    }

    input:checked ~ .custom-radio__label {
        background-color: var(--color-success-light);
    }

    &__label::before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 1rem;
        width: 1rem;
        border: 1px solid #ccc;
        border-radius: 50%;
    }

    & input:checked ~ .custom-radio__label::before {
        background-color: var(--color-background);
    }

    & input:checked ~ .custom-radio__label::after {
        content: "";
        position: absolute;
        left: 1.25rem;
        top: 1.25rem;
        width: 0.480rem;
        height: 0.480rem;
        border-radius: 50%;
        // border: solid white;
        // border-width: 0 0.18rem 0.18rem 0;
        // -webkit-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        // transform: rotate(45deg);
    }
    & input:checked ~ .custom-radio__label::after {
        background-color: var(--color-success);
    }


}

.custom-select {
    min-width: 12.5rem;
    padding: 0.50rem;
    background-color: var(--color-background-secondary);
    // font-size: 1rem;
    height: auto;
    border: none;
    border-radius: 0;
    font-weight: bolder;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22var(--color-background-secondary)%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.8rem top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}
.input-border {
    border: 0;
    outline: 0;
    box-shadow: inset 0px -1px 0px #1A237E;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    font-size: 24px;
    // font-weight: bold;
    color: #1A1A1A;
    padding-left: 30px;
}
.input-container {
    position:relative;
    width: 100%;
}
.input-img {
    position:absolute;
    left:0;
    top: 6px;
    outline: none;
    cursor: pointer;
}
.info-q{
    outline: none !important;
    color:#ffffff;
}
.header-info {
    background: #353FA8;
    border:0;
    color:#fff;
    padding:10px !important;
}
.dropdown-edit {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 0 0 1px rgba(0,0,0,0.08);
}
.dropdown-edit li {
    padding:5px 10px;
}
.herf-class {
    text-decoration: none;
    color:#1A1A1A;
    outline: none;
}
.dropdown-edit li:hover {
    text-decoration: none;
    color:#1A1A1A;
    background: #FAFAFA;
}
// .image-dashboard {
//     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
//     border:0 !important;
//     width:200px;
//     height:200px;
//     line-height: 200px;
//     text-align: center;
// }
.pd-left {
    margin-left: 10px;
}
.image-dashboard {
    text-align: center;
    padding:10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    width:200px;
    height:200px;    
 }
 .image-dashboard .inside-bck {
    background: #FAFAFA;
    color:#353FA8; 
    height:100%;
    padding-top:70px;
 }