<br><br>
<h1 class="form-header pb-4"> 
    Thanks for adding your store 
</h1>
<p class="pb-2"> Someone from our team will be in touch shortly to finalise your set up.</p> 
<p class="pb-2"> In you have any questions in the meantime please contact our <a href="#"> support team. </a></p>   
<!-- <a style="text-decoration: none;" [routerLink]="['/dashboard']" > -->
    <input type="button" class="btn btn-custom-login" value="Let's start building your menu" [routerLink]="'/dashboard/stores/'+store_id">
<!-- </a> -->