<form class="row">  
<div class="col-md-12">
    <h3 class="std-heading-3 text-capitalize b32">
        <span>
            <img src="../../../../../../assets/images/ico_back.png"  (click)="goBack()" style="cursor: pointer;">&nbsp;
            {{memberProfileDetails?.first_name ? memberProfileDetails?.first_name : ''}} {{memberProfileDetails?.last_name ? memberProfileDetails?.last_name : ''}}
        </span>
    </h3>
</div>
<div class="col-md-12 col-sm-12 col-lg-6 col-xs-12">
    <div class="row"> 
        <div class="col-md-12">
            <h4 class="std-heading-4 b32"> Personal details </h4>
            <h5 class="std-heading-5" style="margin-bottom:16px;"> Photo </h5>
            <div class="d-flex justify-content-start">
                <div>
                    <div class="upload-image upload-image-border">
                        <img class="ud-image" [src]="imageUrl ? imageUrl : 'assets/images/null.png'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h5 class="std-heading-5 t40"> Full name </h5>
            <div  class="paragraph text-capitalize"> {{memberProfileDetails?.first_name ? memberProfileDetails?.first_name : ''}} {{memberProfileDetails?.last_name ? memberProfileDetails?.last_name : ''}} </div>          
        </div>
        <div class="col-md-12">
            <h5 class="std-heading-5 t40"> Role </h5>
            <div  class="paragraph text-capitalize">  {{memberProfileDetails?.role_name ? memberProfileDetails?.role_name : ''}}</div>
        </div>
        <div class="col-md-12">
            <h5 class="std-heading-5 t40"> Email</h5>
            <div class="paragraph"> {{memberProfileDetails?.email ? memberProfileDetails?.email : ''}} </div>
        </div>
        <div class="col-md-12">
            <h5 class="std-heading-5 t40"> Phone </h5>
            <div class="paragraph"> {{memberProfileDetails?.mobile_number}} </div>
        </div>
    </div>
</div>
</form>
