<div class="menu-creator__actn-btns mb-2">
    <button class="std-button mr-sm-3">Delete</button>
    <button class="std-button" (click)="saveMenu()" [ngClass]="{'std-button--primary' : readyToSave()}">Save</button>
</div>
<div class="menu-creator__name pb-2 mb-4">
    <button class="menu-creator__name__bk-icon u-btn-reset">Back</button>
    <input class="menu-creator__name__input" name="menu-name" type="text" [formControl]="menuName"
        placeholder="Enter a name for this menu">
    <span *ngIf="menuName.invalid && menuName.touched" class="menu-creator__name__error">Menu name is required</span>
</div>

<div>
    <h3 class="std-heading-3 mb-3">Add availability</h3>
    <h4 class="std-heading-4 mb-1">Days</h4>
    <div class="menu-creator__days mb-3">
        <div class="custom-checkbox" style="margin-right: 7rem;">
            <input type="checkbox" id="day_mon" value="monday" (change)="addRemvDay($event.target.value, $event.target.checked)">
            <label class="custom-checkbox__label std-heading-4" for="day_mon">Mon</label>
        </div>
        <div class="custom-checkbox" style="margin-right: 7rem;">
            <input type="checkbox" id="day_tue" value="tuesday" (change)="addRemvDay($event.target.value, $event.target.checked)">
            <label class="custom-checkbox__label std-heading-4" for="day_tue">Tue</label>
        </div>
        <div class="custom-checkbox" style="margin-right: 7rem;">
            <input type="checkbox" id="day_wed" value="wednesday" (change)="addRemvDay($event.target.value, $event.target.checked)">
            <label class="custom-checkbox__label std-heading-4" for="day_wed">Wed</label>
        </div>
        <div class="custom-checkbox" style="margin-right: 7rem;">
            <input type="checkbox" id="day_thu" value="thursday" (change)="addRemvDay($event.target.value, $event.target.checked)">
            <label class="custom-checkbox__label std-heading-4" for="day_thu">Thu</label>
        </div>
        <div class="custom-checkbox" style="margin-right: 7rem;">
            <input type="checkbox" id="day_fri" value="friday" (change)="addRemvDay($event.target.value, $event.target.checked)">
            <label class="custom-checkbox__label std-heading-4" for="day_fri">Fri</label>
        </div>
        <div class="custom-checkbox" style="margin-right: 7rem;">
            <input type="checkbox" id="day_sat" value="saturday" (change)="addRemvDay($event.target.value, $event.target.checked)">
            <label class="custom-checkbox__label std-heading-4" for="day_sat">Sat</label>
        </div>
        <div class="custom-checkbox" style="margin-right: 7rem;">
            <input type="checkbox" id="day_sun" value="sunday" (change)="addRemvDay($event.target.value, $event.target.checked)">
            <label class="custom-checkbox__label std-heading-4" for="day_sun">Sun</label>
        </div>
    </div>
    <div class="menu-creator__time mb-4">
        <div class="mr-3">
            <h4 class="std-heading-4 mb-1">Start time</h4>
            <select class="custom-select" [(ngModel)]="startTime">
                <option> Select </option>
                <option *ngFor="let t of time" [value]="t">{{ t }}</option>
            </select>
        </div>
        <div class="mr-3">
            <h4 class="std-heading-4 mb-1">End time</h4>
            <select #input class="custom-select" [(ngModel)]="endTime">
                <option> Select </option>
                <option *ngFor="let t of time" [value]="t">{{ t }}</option>
            </select>
        </div>
        <button class="std-button std-button--primary" [disabled]="!stateCheck()" (click)="addAvailability()">+&nbsp;&nbsp;Add
            Time</button>
    </div>
</div>

<h3 class="std-heading-3 mb-3">Availability</h3>

<p>Select <strong>days</strong> and <strong>times</strong> above and press <strong>add time</strong> to add
    availability.</p>

<div class="row">
    <div class="col-md-12">
        <table class="table table-border">
            <tbody>
                <tr *ngFor="let a of availability; let i = index">
                    <td>{{a.day}}</td>
                    <td class="text-uppercase">
                        {{a.startTime}}&nbsp;-&nbsp;{{a.endTime}}
                    </td>
                    <td>
                        <input [(ngModel)]="a.markedAsClose" type="checkbox">
                        Mark as closed
                    </td>
                    <td (click)="a.id? deletedAvailability.push(availability.splice(i, 1)[0]) : availability.splice(i, 1)[0]">
                        Delete
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button (click)="debug()">debug</button>