<nav style="height:56px;">
    <div class="navbar btn-pd justify-content-between">
        <a class="navbar-brand mt-1" style="font-size:24px;"><img style="widows: 169px;height:32px;" src="../../../assets/svg/Logo.svg"></a>
        <div class="btn-names mt-2">
            <a style="text-decoration: none;color:#fff" [routerLink]="['/signup']" title="signup" >Don't have an account? Register now </a>
        </div>
    </div>
</nav>
<div class="container h-100">
    <div class="row m-class">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <form [formGroup]="resendSignupEmail" (ngSubmit)="resendEmail()" >
                <h2 class="sign-header"> Resend email </h2>
                <p style="margin-top: 15px;"> We have sent an email to <b> {{ emailAddress }} </b> with a link to confirm the address.</p>
                <p> If you don't receive the email, try resending it or enter a new email below if it was incorrect. </p>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-inputs"> Email </label>
                            <input type="email" class="form-control form-input" placeholder="e.g. name@domain.com" formControlName="resendemail" [ngClass]="{ 'is-invalid': resendemailSubmit && f.resendemail.errors }">
                            <div *ngIf="resendemailSubmit && f.resendemail.errors" class="error-mez">
                                <div *ngIf="f.resendemail.errors.required"> Email field is required </div>
                                <div *ngIf="f.resendemail.errors.email"> Please enter a valid email address </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" class="btn std-button std-button--primary" value="Resend confirmation email" title="Resend email">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
