<div class="row">
    <div class="col-12">
        <h2 class="wl-header"> Welcome to menuzapp </h2>
        <h3 class="wl-sub-header"> I am an owner </h3>
        <br>
        <p> If you are a restaurant owner, please add or claim one more stores. You will need proof of ownership documents and relevant details on hand. </p>
        <a style="text-decoration: none;" [routerLink]="['/store/first-form']" ><input type="button" class="btn btn-custom-db mt-3" value="Add store" ></a>
        <br>
        <h3 class="wl-sub-header"> I am staff member </h3>
        <br>
        <p> If you are a staff member please request an invitation from the account owner and check your email. </p>
    </div>
</div>

<!-- <div class="row" *ngIf="active_status">
    <div class="col-12">
        <h2 class="wl-header"> {{ storename }} </h2>
        <h3 class="wl-sub-header pb-4"> pending approvals </h3>
        <p> Before you start trading we need to confirm this is a real store. We are reviewing your proof of ownership documents and will be in touch shortly. If you have any questions please contact our <a href="#"> support team</a></p>
    </div>
</div> -->
