.wl-header {
    font-size: 26px;
    color: #1A1A1A;
    font-weight: bold;
}
.wl-sub-header {
    font-size: 20px;
    color: #1A1A1A;
    margin-top:50px;
    font-weight: bold;
}
.btn-custom-db {
    background: #353FA8;
    color:#fff;
    border-radius: 0 !important;
}