<!-- <div *ngIf="storeNames?.length >= 1" style="max-height:300px;overflow-y: auto;">
    <div class="add-plus d-flex justify-content-between" *ngFor="let storename of storeNames" >
        <span> {{ storename.store_name }} </span>
        <span><i class="fa fa-caret-down"></i></span>
    </div>
</div> -->
<!-- <div class="add-plus" *ngIf="storeNames?.length >= 1" >
    <div class="d-flex justify-content-between pd-tb" (click)="toggleMenu()" id="drop_drown" *ngFor="let storename of storeNames">
        <span> {{ storename.store_name }}  </span>
        <span><i class="fa fa-caret-down"></i> </span>
    </div>
    <div *ngIf="show">
        <div class="d-flex flex-row pd-tb">       
            <span><i class="fa fa-pencil-square-o" style="color:#353FA8;padding-top: 5px;"></i></span>&nbsp;&nbsp;
            <span>New Stores 1 <br> <small style="color: #353FA8;"> Finish setup </small></span>
        </div>
        <div class="d-flex flex-row pd-tb" [routerLink]="['/store/first-form']" title="Add another store">       
            <span><i class="fa fa-plus" style="color:#353FA8;"></i></span>&nbsp;&nbsp;
            <span> Add another store <br></span>
            
        </div>
    </div>
</div> -->
<!-- <div class="add-plus d-flex justify-content-between" [routerLink]="['/store/first-form']" title="Add store" *ngIf="storeNames?.length == 0">
    <span> Add a store </span>
    <span><i class="fa fa-plus"></i></span>
</div>  -->

<div *ngIf="dashboard_status">
    <ul class="sidenav__list">
        <li class="sidenav__link" style="border-bottom: 1px solid var(--color-lines-primary); cursor: context-menu;">
            <span class="std-heading-5"> Stores </span>
        </li>
        <li class="sidenav__link sidenav--hover color-primary"
            style="border-bottom: 1px solid var(--color-lines-primary);" [routerLink]="['/store/first-form']"
            title="Add store">
            <img class="sidenav__link__img" src="../../../assets/images/ico_add_blue.png">
            <span> Add store </span>
        </li>
    </ul>
</div>


<div class="sidenav">
    <ul class="sidenav__list" *ngIf="!dashboard_status && menu_status">
        <ng-container *ngIf="(storeSer.activeStore$ | async) as store" title="Store">
            <li class="sidenav__link sidenav--hover" [routerLink]="['/dasboard']"
                style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);">
                <img class="sidenav__link__img sidenav__link__img--hover-back" style="cursor: pointer;outline: none;"
                    src="../../../assets/images/arrow-left.png"><span class="std-heading-5">
                    {{store.name}} </span>
            </li>
        </ng-container>
        <li class="sidenav__item">
            <a class="sidenav__link sidenav--hover" [routerLink]="['/dashboard/stores/'+storeSer.activeStore]"
                routerLinkActive="sidenav__link--active"><img class="sidenav__link__img"
                    src="../../../assets/images/ico_book.png"><span class="color-primary"> Menu
                </span></a>
        </li>
        <li class="sidenav__item">
            <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img"
                    src="../../../assets/images/ico_restaurant.png"><span class="color-primary">Store profile</span></a>
        </li>
        <li class="sidenav__item">
            <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img"
                    src="../../../assets/images/ico_members.png"><span class="color-primary">
                    Members</span></a>
        </li>
    </ul>
    <ul class="sidenav__list--bottom">
        <li class="sidenav__item ">
            <a class="sidenav__link sidenav--hover"><img class="sidenav__link__img"
                    src="../../../assets/images/users.png">
                <span class="color-primary">
                    Account</span> </a>
        </li>
        <li class="sidenav__item">
            <a class="sidenav__link sidenav--hover" (click)="logout()"><img class="sidenav__link__img"
                    src="../../../assets/images/logout.png"><span class="color-primary">
                    Logout</span> </a>
        </li>
    </ul>
</div>