

<!-- <div *ngIf="storeNames?.length >= 1" style="max-height:300px;overflow-y: auto;">
    <div class="add-plus d-flex justify-content-between" *ngFor="let storename of storeNames" >
        <span> {{ storename.store_name }} </span>
        <span><i class="fa fa-caret-down"></i></span>
    </div>
</div> -->
<!-- <div class="add-plus" *ngIf="storeNames?.length >= 1" >
    <div class="d-flex justify-content-between pd-tb" (click)="toggleMenu()" id="drop_drown" *ngFor="let storename of storeNames">
        <span> {{ storename.store_name }}  </span>
        <span><i class="fa fa-caret-down"></i> </span>
    </div>
    <div *ngIf="show">
        <div class="d-flex flex-row pd-tb">       
            <span><i class="fa fa-pencil-square-o" style="color:#353FA8;padding-top: 5px;"></i></span>&nbsp;&nbsp;
            <span>New Stores 1 <br> <small style="color: #353FA8;"> Finish setup </small></span>
        </div>
        <div class="d-flex flex-row pd-tb" [routerLink]="['/store/first-form']" title="Add another store">       
            <span><i class="fa fa-plus" style="color:#353FA8;"></i></span>&nbsp;&nbsp;
            <span> Add another store <br></span>
            
        </div>
    </div>
</div> -->
<!-- <div class="add-plus d-flex justify-content-between" [routerLink]="['/store/first-form']" title="Add store" *ngIf="storeNames?.length == 0">
    <span> Add a store </span>
    <span><i class="fa fa-plus"></i></span>
</div>  -->

<div *ngIf="dashboard_status">
    <div class="add-plus" [routerLink]="['/store/first-form']" title="Add store" style="background: #fff;">
        <span> Stores </span>
    </div>
    <div class="add-plus" [routerLink]="['/store/first-form']" title="Add store">
        <span><img src="../../../assets/images/ico_add_blue.png"></span>
        <span style="margin-left: .25rem;color:#353FA8;"> Add store </span>
    </div>
</div>

<div class="add-group">
    <div class="menu-list">
        <ul class="navbar-nav menu-custom" *ngIf="!dashboard_status && menu_status" >
            <div style="padding: 8px;" *ngIf="(storeSer.activeStore$ | async) as store" title="Stores">
                <a><img style="cursor: pointer" [routerLink]="['/dasboard']" src="../../../assets/images/arrow-left.png"></a><span style="padding-top: 10px;margin-left: 10px;"> {{store.name}} </span>
            </div>
            <li class="nav-item">
                 <a class="nav-link"  routerLinkActive="nav-link__active" [routerLink]="['/dashboard/stores/'+storeSer.activeStore]"><img src="../../../assets/images/ico_book.png"><span style="padding-top: 10px;margin-left: 10px;"> Menu </span> </a>
                 <a class="nav-link"><img src="../../../assets/images/store.png"><span style="padding-top: 10px;margin-left: 10px;">&nbsp;  Store profile</span></a>
                 <a class="nav-link"><img src="../../../assets/images/users_group.png"><span style="padding-top: 10px;margin-left: 10px;"> Members</span></a>
            </li> 
        </ul>
        <ul class="navbar-nav menu-custom" style="position: absolute;bottom:0;left:0;right:0;">
            <li class="nav-item">
                 <a class="nav-link"><img src="../../../assets/images/users.png" style="margin-top: -7px;">&nbsp;&nbsp; Account </a>
                 <a class="nav-link" (click)="logout()"><img src="../../../assets/images/logout.png" style="margin-top: -4px;">&nbsp;&nbsp; Logout </a>
            </li>
        </ul>
    </div> 
</div>
