<form [formGroup]="modifierForm" (ngSubmit)="saveModifer(modifierForm.value)">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="float-right">
                <button class="btn std-button std-button--transparency" type="button" *ngIf="modifierId"
                    (click)="modalService.open(deleteComform, { centered: true, size:'sm' });"> Delete </button>
                <button class="btn std-button std-button--transparency" style="margin-left:10px;" type="button">
                    Duplicate
                </button>
                <button appBtnIcon [valid]="modifierForm.valid" [loading]="submitting" class="btn std-button-active"
                    style="margin-left:10px;"> <span #span>Save</span> </button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-container">
                <img (click)="modifierForm.touched? modalService.open(backConfirm, { centered: true, size: 'sm' }) : navigateBack()"
                    src="../../../../../assets/images/ico_back.png" class="input-img mt-1">
                <input type="text" class="input-border input-palceholder" formControlName="name">
                <span class="error-mez"
                    *ngIf="modifierForm.controls.name.touched && modifierForm.controls.name.invalid">Item name is
                    required.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="std-heading-4 mb-3"> Items <img src="../../../../../assets/images/ico_help.png"
                    style="cursor:pointer" title="info"></h4>
            <h5 class="std-heading-5" style="margin-bottom: 3px;"> Add Item </h5>
        </div>
        <div class="col-md-3 mb-1">
            <div class="auto-fill">
                <span *ngIf="listLoading">loading</span>
                <input #itemSearch type="search" placeholder="Search" class="form-control form-input search" />
                <!-- <ng-template  class="auto-fill__list">
                    <li class="auto-fill__li">One</li>
                    <li class="auto-fill__li">Two</li>
                    <li class="auto-fill__li">Three</li>
                </ng-template> -->
                <ng-template #template>
                    <ul *ngIf="searchData.length > 0"  class="auto-fill__list">
                        <li class="auto-fill__list__item" *ngFor="let item of searchData">{{item.item_name}}</li>
                    </ul>
                </ng-template>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn std-button std-button--primary" type="button"
                (click)="this.selectedItemsForm.markAsTouched({onlySelf: true}); placeHolderForSearch()">Add </button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <table class="table table-border table-color" formArrayName="selectedItems">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Standard price </th>
                        <th> Modifier price </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="selectedItems.length > 0; else noItems">
                    <tr class="text-capitalize" *ngFor="let item of selectedItems; let i = index">
                        <td class="menu-clr" style="text-transform: capitalize; font-weight: bold;">{{item.name}}</td>
                        <td>${{item.basePrice | number:'1.2-2'}}</td>
                        <td>
                            <span
                                (click)="editedItemIndex=i; modalService.open(popup, { centered: true });">edit</span><span>${{selectedItemsForm.at(i).value | number:'1.2-2'}}</span>
                        </td>
                        <td style="text-align: right;cursor:pointer;outline: none;">
                            <div class="dropdown">
                                <img src="../../../../../assets/images/ico_overflow.png" class="dropdown-toggle"
                                    data-toggle="dropdown" title="Options">
                                <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                    <li title="Delete" class="herf-class"
                                        (click)="this.selectedItemsForm.markAsTouched({onlySelf: true}); deleteItem(i);">
                                        <img src="../../../../../assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                        Delete
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <ng-template #noItems>
                    <tbody>
                        <tr class="text-center">
                            <td colspan="6">No items have been added yet.</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
            <p *ngIf="selectedItemsForm.invalid && selectedItemsForm.touched" style="color: var(--color-failure);">
                Please add atleast one item.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="std-heading-4 mb-3"> Rules <img src="../../../../../assets/images/ico_help.png"
                    style="cursor:pointer" title="info"></h4>
            <h5 class="std-heading-5" style="margin-bottom: 3px;"> Is this a required selection? </h5>
            <input type="checkbox" formControlName="selectionRequired">
            <h5 class="std-heading-5" style="margin-bottom: 3px;"> Maximum items selected </h5>
            <input type="number" formControlName="maxItemsSelectable">
        </div>
    </div>
</form>

<ng-template #popup let-editPopup>
    <form (ngSubmit)="updatePrice(valInput.value)">
        <h2>{{selectedItems[editedItemIndex].name}}</h2>
        <h4>Modifier group</h4>
        <div class="prefixed-input">
            <span class="prefixed-input__prefix">$</span>
            <input class="form-control form-input prefixed-input__input" #valInput type="number"
                [value]="selectedItemsForm.at(editedItemIndex).value">
        </div>
        <div>
            <button (click)="editPopup.dismiss('Cross click')" type="button">Cancel</button>
            <button (click)="updatePrice(valInput.value); editPopup.dismiss('Cross click')">Save</button>
        </div>
    </form>
</ng-template>

<ng-template #deleteComform let-deleteConf>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Deleting modifier group
            {{modifierForm.value.name? '"'+modifierForm.value.name+'"' : ''}} </h4>
        <p class="mb-2">
            Are you sure?
        </p>
        <button class="std-button std-button--plane" (click)="deleteModifier(); deleteConf.dismiss('Cross click')">
            Delete </button>
        <hr style="margin: 0;">
        <button class="std-button std-button--plane" (click)="deleteConf.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>

<ng-template #backConfirm let-backConf>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Unsaved changes </h4>
        <p class="mb-2">
            If you continue you will lose any unsaved progress
        </p>
        <button class="std-button std-button--plane" (click)="navigateBack(); backConf.dismiss('Cross click')"> Continue
        </button>
        <hr style="margin: 0;">
        <button class="std-button std-button--plane" (click)="backConf.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>

<button (click)="debug()">debug</button>