<ul class="resnt-menu-top-tabs u-margin-bottom-medium">
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu"
            routerLinkActive="resnt-menu-top-tabs__button__active"> Pending  </button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu"
            routerLinkActive="resnt-menu-top-tabs__button__active"> Approved </button>
    </li>
    <li class="resnt-menu-top-tabs__item">
        <button class="resnt-menu-top-tabs__button tabs-menu"
        routerLinkActive="resnt-menu-top-tabs__button__active">
           Store shells
        </button>
    </li>
</ul>
<section class="resnt-menu-tabs-content">
    <router-outlet></router-outlet>
</section>