<br><br>
<form [formGroup]="ownershipform" (ngSubmit)="ownerShip()">
    <h1 class="form-header pb-5"> 
        Add proof of ownership
    </h1>
    <p class="pb-2"> The details provided here will help us approve your store application. You may complete this step now or press <b>save and continue </b> to complete later. </p>
    
    <div class="form-group">
        <label class="label-inputs"> Legal owner name <b class="m-star">*</b> </label>
        <input type="text" class="form-control form-input" formControlName="ownerName" [ngClass]="{ 'is-invalid': ownernameSubmit && f.ownerName.errors }" >
        <div *ngIf="ownernameSubmit && f.ownerName.errors" class="error-mez">
            <div *ngIf="f.ownerName.errors.required"> Please enter owner name </div>
        </div>
    </div>

    <div class="form-group">
        <label class="label-inputs"> Legal business name <b class="m-star">*</b> </label>
        <input type="text" class="form-control form-input" formControlName="businessName" [ngClass]="{ 'is-invalid': businessnameSubmit && f.businessName.errors }" >
        <div *ngIf="businessnameSubmit && f.businessName.errors" class="error-mez">
            <div *ngIf="f.businessName.errors.required"> Please enter business name </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label-inputs"> ABN or ACN(Australian Business or Company Number) <b class="m-star">*</b> </label>
        <input type="text" class="form-control form-input" formControlName="ABNnumber" [ngClass]="{ 'is-invalid': ABNnumberSubmit && f.ABNnumber.errors }" >
        <div *ngIf="ABNnumberSubmit && f.ABNnumber.errors" class="error-mez">
            <div *ngIf="f.ABNnumber.errors.required"> Please enter ABN or ACN </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label-inputs pb-4"> Certification of registration <b class="m-star">*</b> </label>
        <p> Please upload a copy of your certificate of registration for this business. </p>
    </div>
    <div class="form-group">
        <div class="d-flex flex-row pb-2">
            <div class="select-file p-2" (click)="fileInput.click()" title="Upload file"  style="border-color:none !important;">
                <i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp; Upload file 
            </div>
            <div class="p-2 fnt-14" *ngIf="selectedFile && selectedFileName">
                {{selectedFileName}} 
            </div>
            <div class="p-2 fnt-14" *ngIf="!selectedFile && !selectedFileName">
                No file selected
            </div>                    
        </div>
        <!-- <div *ngIf="(fileSubmit && f.file.errors) && (!selectedFile && !selectedFileName)" class="error-mez">
            <div *ngIf="f.file.errors.required"> Please upload file </div>
        </div> -->
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label style="margin-bottom:0;">
                <input type="checkbox" formControlName="checkownership" [ngClass]="{ 'is-invalid': checkownershipSubmit && f.checkownership.errors }">
                    &nbsp; I Understand and agree to the <a href="#"> MenuzApp terms </a>
            </label>
        </div>
        <div *ngIf="checkownershipSubmit && f.checkownership.errors" class="error-mez">
            <div *ngIf="f.checkownership.errors.required"> Please accept our terms of use before proceeding. </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pt-2">
            <input type="button" class="btn re-send" value="Back" (click)="backTostore()">
            <input type="submit" class="btn btn-custom-login" value="Save and continue" style="margin-left:10px;">
        </div>
    </div>
</form>
    
<input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput >
<!-- [ngClass]="{ 'is-invalid': fileSubmit && f.file.errors }" -->