<ng-container *ngIf="route.children.length == 0">
    <h3 class="u-margin-bottom-small std-heading-3" style="font-size: 1.5rem;">Menus</h3>
    <div style="text-align: right;">
        <button class="std-button std-button--primary u-margin-bottom-small" [routerLink]="['./editor']"><img
                src="../../../../../assets/images/ico_add.png">&nbsp;&nbsp;New menu</button>
    </div>
    <ng-container *ngIf="menus.length <= 0">
        <h3 class="u-margin-bottom-medium std-heading-3">Add your first menu.</h3>

        <p class="u-margin-bottom-medium">
            Here you can decide to create one menu for you entire store, or break it down into multiple menus such as
            breakfast, lunch and dinner. You can also specify the days and times each menu is available. Press <b>new menu</b>
            to begin.
        </p>
    </ng-container>
    <div class="row" *ngIf="menus.length > 0">
        <div class="col-md-12">
            <table class="table table-border">
                <thead>
                    <tr>
                        <th scope="col"> Name </th>
                        <th scope="col"> Availability </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menu of menus; let i = index">
                        <td [routerLink]="['./editor', menu.id]" title="Edit"
                            style="outline: none;color: #353FA8;font-weight:600;cursor: pointer; text-transform: capitalize;"> {{menu.name}} </td>
                        <td class="text-uppercase">
                            {{menu.availability[0].startTime}}&nbsp;-&nbsp;{{menu.availability[0].endTime}}{{menu.availability.length > 1 ? ', +'+(menu.availability.length-1).toString() : ""}}
                        </td>
                        <td style="text-align: right;cursor:pointer;outline: none;">
                            <div class="dropdown">
                                <img src="../../../../../assets/images/ico_overflow.png" class="dropdown-toggle"
                                    data-toggle="dropdown" title="Options">
                                <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                                    <li class="herf-class" [routerLink]="['./editor', menu.id]" title="Edit">
                                        <img src="../../../../../assets/images/ico_edit.png">&nbsp;&nbsp;
                                        Edit
                                    </li>
                                    <li title="Delete" class="herf-class" (click)="modalService.open(deleteComform, { centered: true }); deleteIndex = i">
                                        <img src="../../../../../assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                        Delete
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</ng-container>

<ng-template #deleteComform let-modal3>
    <div class="modal-body text-center">
        <h4 class="std-heading-4 mb-2"> Delete menu </h4>
      <p class="mb-2"> 
          Are you sure? 
      </p>
      <button class="std-button--plane" (click)="deleteMenu(); modal3.dismiss('Cross click')"> Delete </button>
      <hr>
      <button class="std-button--plane" (click)="modal3.dismiss('Cross click')"> Cancel </button>
    </div>
</ng-template>


<router-outlet></router-outlet>