<h3 class="u-margin-bottom-small std-heading-3" style="font-size: 1.5rem;">Menus</h3>
<div style="text-align: right;">
    <button class="std-button std-button--primary u-margin-bottom-small">+&nbsp;&nbsp;New menu</button>
</div>
<h3 class="u-margin-bottom-medium std-heading-3">Add your first menu.</h3>

<p class="u-margin-bottom-medium">
    Here you can decide to create one menu for you entire store, or break it down into multiple menus such as breakfast, lunch and dinner. You can also specify the days and times each menu is available. Press new menu to begin.
</p>
