<h3 class="u-margin-bottom-small std-heading-3" style="font-size: 1.5rem;"> Items </h3>
<div class="row">
    <div class="col-md-3 mb-1">
        <input type="search" placeholder="Search" class="form-control form-input search" />
    </div>
    <div class="col-md-3 mb-1 pd-mq">
        <select class="custom-select">
            <option> All </option>
        </select>
    </div>
    <div class="col-md-6">
        <div style="text-align: right;">
            <button class="std-button std-button--primary u-margin-bottom-small" [routerLink]="['./new']"> <img src="../../../../../assets/images/ico_add.png">&nbsp;&nbsp;New items </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-border">
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Price </th>
                    <th scope="col"> Menus </th>
                    <th scope="col"> Categories</th>
                    <th scope="col"> Modifier groups </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-capitalize" *ngFor="let item of items">
                  <td class="menu-clr" [routerLink]="'./'+item.item_id"> {{item.item_name}} </td>
                  <td> {{item.item_base_price}} </td>
                  <td> <span *ngFor="let menu of item['menu_details'];let j=index;"><span *ngIf="j == 1">, </span><span *ngIf="j <= 1">{{menu.menu_name}}</span><span *ngIf="j == item['menu_details'].length-1"><span *ngIf="item['menu_details'].length > 2" >, +{{item['menu_details'].length - 2}}</span></span></span> </td>
                  <td> <span *ngFor="let category of item['category_details'];let i=index;"><span *ngIf="i == 1">, </span><span *ngIf="i <= 1">{{category.category_name}}</span><span *ngIf="i == item['category_details'].length-1"><span *ngIf="item['category_details'].length > 2" >, +{{item['category_details'].length - 2}}</span></span></span> </td>
                  <td> Size,Sauce,+1</td>
                  <td style="text-align: right;cursor:pointer;outline: none;">
                    <div class="dropdown">
                        <img src="../../../../../assets/images/ico_overflow.png"  class="dropdown-toggle" data-toggle="dropdown" title="Options">
                        <ul class="dropdown-menu dropdown-edit dropdown-menu-right">
                            <li class="herf-class" [routerLink]="['./', {editor: 'true'}]" title="Edit">
                                <img src="../../../../../assets/images/ico_edit.png">&nbsp;&nbsp;
                              Edit
                            </li>
                            <li title="Delete" class="herf-class">
                                <img src="../../../../../assets/images/ico_delete_black.png">&nbsp;&nbsp;
                                Delete
                            </li>
                        </ul>
                    </div>
                </td>
                </tr>
                <tr class="text-center">
                    <td colspan="6" *ngIf="items?.length==0">No Data Found</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>

<router-outlet></router-outlet>

